<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width;" />
		<title>奥数讲堂</title>

		<link rel="stylesheet" type="text/css" href="../../css/tool/comm.css" />
		<link rel="stylesheet" type="text/css" href="../../css/classroom/aoshuIndex.css" />
		
		<script type="text/javascript" src="../../plugins/zepto.js"></script>
  		<script type="text/javascript" src="../../js/tool/common.js"></script>
  		<script type="text/javascript" src="../../js/classroom/aoshuIndex.js"></script>
  		
  		<link rel="stylesheet" type="text/css" href="../../plugins/layer_phone/need/layer.css" />
  		<script type="text/javascript" src="../../plugins/layer_phone/layer.js"></script>
	</head>
	<body>
		<div class="aoshuIndex_back btn" onclick="backPageAoshuIndex()"></div>

		<div class="aoshuIndex_bg">
			<div id="div_title" class="div_title"></div>
			<div id="div_page" class="div_page"></div>

			<div id="aoshuIndex_content" class="aoshuIndex_content">
				<!-- <div class="aoshuIndex_item">
					<div class="aoshuIndex_flag">未测验</div>
					<div class="aoshuIndex_item_title">第一讲</div>
					<div class="aoshuIndex_item_content">数据和填写</div>
					<div class="aoshuIndex_item_bottom">
						<div class="aoshuIndex_jindian"></div>
						<div class="aoshuIndex_qinghua_en"></div>
					</div>
				</div>
				<div class="aoshuIndex_item"></div>
				<div class="aoshuIndex_item"></div>
				<div class="aoshuIndex_item"></div> -->
			</div>

			<div class="aoshuIndex_up_page" onclick="aoshuIndex_up_page()"></div>
			<div class="aoshuIndex_next_page" onclick="aoshuIndex_next_page()"></div>

		</div>
	</body>
</html>