
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width;" />
		<title>奥数讲堂</title>

		<link rel="stylesheet" type="text/css" href="../../css/tool/comm.css" />
		<link rel="stylesheet" type="text/css" href="../../css/classroom/lectureIndex.css" />
		
		<script type="text/javascript" src="../../plugins/zepto.js"></script>
  		<script type="text/javascript" src="../../js/tool/common.js"></script>

  		<script type="text/javascript" src="../../js/classroom/lectureIndex.js"></script>
	</head>
	<body>
		
		<div class="lecture_bg div_center">
			<div class="lecture_flag"></div>
			<div class="lecture_title"></div>
			<div class="lecture_back btn" onclick="backPageLectureIndex()"></div>
			<div id="lecture_grade" class="lecture_grade"></div>

			<div class="content_slelct">
				<a href="simulateIndex.html"><div class="simulate"></div></a>
				<a href="aoshuIndex.html"><div class="aoshu"></div></a>
				<a href="errList.html"><div class="error"></div></a>
			</div>


			
		</div>
		<div class="lecture_bottom"></div>

	</body>
</html>