<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,user-scalable=0">
<title></title>
</head>

<body>
	<script language="javascript" type="text/javascript">
		window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=&redirect_uri=http://aoshu.hzlingdian.com/aoshu/views/aoshu/views/login/login.html&response_type=code&scope=snsapi_base&state=1&#wechat_redirect";
	</script>
</body>

</html>