<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width;" />
		<title>首页</title>

		<link rel="stylesheet" type="text/css" href="../../css/tool/comm.css" />
		<link rel="stylesheet" type="text/css" href="../../css/home/homeIndex.css" />
		
		<script type="text/javascript" src="../../plugins/zepto.js"></script>
  		<script type="text/javascript" src="../../js/tool/common.js"></script>
  		<script type="text/javascript" src="../../js/tool/md5.js"></script>

		<link rel="stylesheet" type="text/css" href="../../plugins/layer_phone/need/layer.css" />
  		<script type="text/javascript" src="../../plugins/layer_phone/layer.js"></script>

  		<script type="text/javascript" src="../../js/home/homeIndex.js"></script>

	</head>
	<body>
		
		<!-- <div class="home_decorate"></div> -->
		<div class="home_bg div_center">
			<div class="home_border">
				<div class="border_left">
					<div class="home_head"></div>
					<div id="userName" class="span_name">53331</div>
					<div id="welcomeFlag" class="span_name">欢迎您</div>
					<div class="change_info btn" onclick="changeInfo()"></div>
					<div class="change_password btn" onclick="changePassword()"></div>

					<div class="border_left_note">
						<span class="span_pink">温馨提示：</span>
						<span class="span_aoshu">赶紧完善信息吧！</span>
					</div>
				</div>
				<div class="border_right">
					<div class="homePage_back btn" onclick="backPageHome()"></div>
					<div class="home_title"></div>
					<div id="grades" class="border_right_item_border">
						<!-- <a href="../classroom/lectureIndex.html"><div class="border_right_item_bg">一年级</div></a>
						<div class="border_right_item_bg">2年级</div>
						<div class="border_right_item_bg">2年级</div>
						<div class="border_right_item_bg">3年级</div>
						<div class="border_right_item_bg">4年级</div>
						<div class="border_right_item_bg">5年级</div>
						<div class="border_right_item_bg">6年级</div>
						<div class="border_right_item_bg">7年级</div> -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>