<!DOCTYPE html>
<html>
<body>

<video width="320" height="240" controls="controls" autoplay="autoplay">
  <source src="C:\Users\Administrator\Desktop\move\movie.mp4" type="video/mp4" />
</video>

<video width="320" height="240" controls="controls" autoplay="autoplay">
  <source src="C:\Users\Administrator\Desktop\move\a.mp4" type="video/mp4" />
</video>

<video width="320" height="240" controls="controls" autoplay="autoplay">
  <source src="http://media.hzlingdian.com/mp4/1.mp4" type="video/mp4" />
</video>



<embed width="320" height="240" src="http://media.hzlingdian.com/swf/101_1.swf" />

<object type="application/x-shockwave-flash" data="c.swf?path=movie.swf"
width="400" height="300">
<param name="movie" value="c.swf?path=movie.swf" />
<img src="http://xuguangzhi2003.blog.163.com/blog/noflash.gif" width="200" height="100" alt="" />
</object>

</body>
</html>
