<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情题库表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery.js?ts=new Date()"></script>
<script type="text/javascript" src="../../js/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/question/corequestions_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">题目编号：</label>
				<div class="rightLi">
					<label class="crqtsCode"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">类别：</label>
				<div class="rightLi">
					<label class="crqtsCategory"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">知识点：</label>
				<div class="rightLi">
					<label class="crqtsKnowledge"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">难易程度：</label>
				<div class="rightLi">
					<label class="crqtsLevel"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">年级：</label>
				<div class="rightLi">
					<label class="crqtsClass"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">图片目录：</label>
				<div class="rightLi">
					<label class="crqtsDir"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">题目类型：</label>
				<div class="rightLi">
					<label class="crqtsQuesType"></label>
				</div>
			</li>
			<li class="list-li class1">
				<label class="leftLi">题目图片：</label>
				<div class="rightLi">
					<img class="crqtsQuesUrl" />
				</div>
			</li>
			<li class="list-li class2">
				<label class="leftLi">题目文字：</label>
				<div class="rightLi">
					<label class="crqtsQuesFont"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">解析类型：</label>
				<div class="rightLi">
					<label class="crqtsAnalysisType"></label>
				</div>
			</li>
			<li class="list-li class3">
				<label class="leftLi">解析图片：</label>
				<div class="rightLi">
					<img class="crqtsAnalysisUrl" />	
				</div>
			</li>
			<li class="list-li class4">
				<label class="leftLi">解析文字：</label>
				<div class="rightLi">
					<label class="crqtsAnalysisFont"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">问题：</label>
				<div class="rightLi">
					<label class="crqtsProblem"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">答案：</label>
				<div class="rightLi">
					<label class="crqtsAnswer"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">视频目录：</label>
				<div class="rightLi">
					<label class="crqtsDirMovie"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">视频路径：</label>
				<div class="rightLi">
					<label class="crqtsMovie"></label>
					<span class="movieSapn"></span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">背景色：</label>
				<div class="rightLi">
					<label class="crqtsColor"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建日期：</label>
				<div class="rightLi">
					<label class="crqtsCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">修改日期：</label>
				<div class="rightLi">
					<label class="crqtsUdate"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
